.titleContainerChild {
  height: 68px;
  width: 1608px;
  position: relative;
  box-shadow: 0 8px 16px rgba(145, 158, 171, 0.1);
  background-color: var(--background-default);
  display: none;
  max-width: 100%;
}
.blogs {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.groupIcon,
.searchInputIcon {
  position: relative;
  min-height: 41px;
  z-index: 1;
}
.groupIcon {
  height: 40.9px;
  width: 40.9px;
}
.searchInputIcon {
  align-self: stretch;
  width: 35.4px;
  max-height: 100%;
}
.groupIcon1 {
  width: 35.7px;
  height: 35.7px;
  position: relative;
  z-index: 1;
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-2);
}
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl-4);
}
.header,
.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.titleContainer {
  width: 1608px;
  box-shadow: 0 8px 16px rgba(145, 158, 171, 0.1);
  background-color: var(--background-default);
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-8xl) var(--padding-sm-1)
    var(--padding-17xl);
  gap: var(--gap-xl);
}
.header {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--primary-2);
  font-family: var(--font-outfit);
}
@media screen and (max-width: 675px) {
  .blogs {
    font-size: var(--font-size-3xl);
  }
  .titleContainer {
    flex-wrap: wrap;
  }
}
