.btnStyle {
    padding: 14px 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    background-color: var(--primary-2);
    border-color: var(--primary-2);
    display: inline-block;
    cursor: pointer; 
    
  }
  .btnStyle:hover{
    color: #fff;
  }
  .cursorPointer {
    cursor: pointer;
}