.image-604-icon3 {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
} 
.blog-detail-page .its7 {
  color: var(--previewthemeforestnet-black);
} 
.blog-detail-page .its6,
.span6 {
  font-weight: 500;
} 
.blog-detail-page .its6,
.monday7,
.span6 {
  font-family: var(--font-outfit);
} 
.blog-detail-page .monday6 {
  color: var(--color-mediumseagreen-300);
} 
.blog-detail-page .pm-and3 {
  font-weight: 500;
} 
.blog-detail-page .were-open3 {
  font-family: var(--font-outfit);
  color: var(--color-mediumseagreen-300);
} 
.blog-detail-page .its-monday-244-pm-and-were7 {
  margin: 0;
} 
.blog-detail-page .span7 {
  color: var(--color-darkslateblue);
} 
.blog-detail-page .toll-free-number3 {
  font-weight: 500;
} 
.blog-detail-page .b3 {
  font-family: var(--font-outfit);
  color: var(--color-mediumseagreen-300);
} 
.blog-detail-page .toll-free-number-844-755-73 {
  margin: 0;
} 
.blog-detail-page .its-monday-244-pm-and-were6 {
  height: 56px;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 28px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  max-width: 100%;
} 
.blog-detail-page .call-uspng-icon3 {
  height: 61px;
  width: 66px;
  position: relative;
  object-fit: cover;
} 
.blog-detail-page .a,
.orange-county7 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
} 
.blog-detail-page .orange-county7 {
  color: inherit;
  min-width: 104px;
} 
.blog-detail-page .a {
  color: var(--primary);
  min-width: 93px;
} 
.blog-detail-page .orange-county6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-7xs);
} 
.blog-detail-page .div5,
.riverside-county7 {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 115px;
  white-space: nowrap;
} 
.blog-detail-page .div5 {
  color: var(--primary);
  min-width: 93px;
} 
.blog-detail-page .riverside-county6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-5xs);
  gap: var(--gap-7xs);
} 
.blog-detail-page .county-details3,
.service5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
} 
.blog-detail-page .service5 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-sm);
} 
.blog-detail-page .menu-icon3 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
} 
.blog-detail-page .image-604-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: var(--gap-xl);
  max-width: 100%;
} 
.blog-detail-page .navigation-child1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
} 
.blog-detail-page .home6 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  min-width: 36px;
} 
.blog-detail-page .frame-child36 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .water-damage3 {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 94px;
  white-space: nowrap;
} 
.blog-detail-page .frame-child37 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .slab-leak3 {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
} 
.blog-detail-page .frame-child38 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .plumber3 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  min-width: 54px;
} 
.blog-detail-page .frame-child39 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .water-heater3 {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
} 
.blog-detail-page .frame-child40 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .drain-services3 {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 93px;
  white-space: nowrap;
} 
.blog-detail-page .frame-child41 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .other-service3 {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 90px;
  white-space: nowrap;
} 
.blog-detail-page .frame-child42 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .about-us3 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
} 
.blog-detail-page .frame-child43 {
  height: 42px;
  width: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .contact-us6 {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 73px;
  white-space: nowrap;
} 
.blog-detail-page .home-parent,
.navigation3 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
} 
.blog-detail-page .home-parent {
  height: 41px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
} 
.blog-detail-page .navigation3 {
  background-color: var(--previewthemeforestnet-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-41xl);
  gap: var(--gap-base);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--previewthemeforestnet-black);
  font-family: var(--font-outfit);
} 
.blog-detail-page .home7 {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  text-transform: capitalize;
  color: inherit;
  display: inline-block;
  min-width: 43px;
} 
.blog-detail-page .chevron-right-double-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
} 
.blog-detail-page .latest-news {
  position: relative;
  line-height: 22px;
  text-transform: capitalize;
} 
.blog-detail-page .chevron-right-double-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
} 
.blog-detail-page .home-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
} 
.blog-detail-page .why-do-slab {
  position: relative;
  line-height: 22px;
  text-transform: capitalize;
  font-weight: 600;
} 
.blog-detail-page .why-do-slab-leaks-occur-mostly-wrapper {
  color: var(--color-mediumseagreen-300);
} 
.blog-detail-page .breadcrumbs4,
.breadcrumbs5,
.why-do-slab-leaks-occur-mostly-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
} 
.blog-detail-page .breadcrumbs5 {
  gap: var(--gap-5xs);
} 
.blog-detail-page .breadcrumbs4 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-base) var(--padding-41xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
} 
.blog-detail-page .why-do-slab1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--primary);
} 
.blog-detail-page .img-why-do-slab-leaks-occur-mo {
  align-self: stretch;
  height: 511px;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
} 
.blog-detail-page .text44,
.text45 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .slab-leak-repair2 {
  text-decoration: underline;
} 
.blog-detail-page .slab-leak-repair-in-el-cajon1 {
  font-weight: 600;
} 
.blog-detail-page .slab-leak-repair-in-el-cajon {
  color: var(--primary);
} 
.blog-detail-page .span8 {
  font-weight: 600;
} 
.blog-detail-page .text46,
.text47,
.text48,
.text49 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .text-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--body);
} 
.blog-detail-page .signs-of-a,
.text50 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .signs-of-a {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  font-family: inherit;
  color: #2d2d2d;
} 
.blog-detail-page .text50 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .signs-of-a-slab-leak-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .increased-water-bill,
.text51 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .increased-water-bill {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text51 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .increased-water-bill-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .text52,
.blog-detail-page .water-pressure-issues {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .water-pressure-issues {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text52 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .water-pressure-issues-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .hot-spots-on,
.text53 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .hot-spots-on {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text53 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .hot-spots-on-the-floor-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .dampness-or-moisture,
.text54 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .dampness-or-moisture {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text54 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .dampness-or-moisture-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .mold-or-mildew,
.text55,
.text56 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .mold-or-mildew {
  margin: 0;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text55,
.text56 {
  line-height: 140%;
} 
.blog-detail-page .frame-parent30,
.mold-or-mildew-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .mold-or-mildew-parent {
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--body);
} 
.blog-detail-page .frame-parent30 {
  gap: var(--gap-5xl);
  font-size: var(--font-size-9xl);
} 
.blog-detail-page .the-hidden-dangers {
  color: var(--primary);
} 
.blog-detail-page .also-read-the-container {
  font-weight: 600;
} 
.blog-detail-page .also-read-the-container,
.text57,
.why-do-slab2 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .why-do-slab2 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text57 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .why-do-slab-leaks-occur-in-old-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-9xl);
} 
.blog-detail-page .poor-water-quality {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text58,
.text59,
.text60,
.text61 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .poor-water-quality-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .abrasion,
.blog-detail-page .text62,
.blog-detail-page .text63 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .blog-detail-page .abrasion {
  margin: 0;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text62,
.blog-detail-page .text63 {
  line-height: 140%;
} 
.blog-detail-page .blog-detail-page .abrasion-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .poor-construction,
.blog-detail-page .text64,
.blog-detail-page .text65 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .poor-construction {
  margin: 0;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text64,
.text65 {
  line-height: 140%;
} 
.blog-detail-page .poor-construction-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .soil-shifts {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text66,
.blog-detail-page .text67,
.blog-detail-page .text68 {
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .text67,
.blog-detail-page .text68 {
  align-self: stretch;
} 
.blog-detail-page .soil-shifts-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .text69,
.blog-detail-page .what-to-do {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .what-to-do {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text69 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .what-to-do-when-slab-leak-occu-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-9xl);
  color: var(--text-dark);
} 
.blog-detail-page .text70,
.blog-detail-page .turn-off-the {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .turn-off-the {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text70 {
  font-size: var(--font-size-base);
  line-height: 140%;
  color: var(--body);
} 
.blog-detail-page .call-a-professional,
.blog-detail-page .turn-off-the-water-parent {
  align-self: stretch;
  font-size: var(--font-size-9xl);
  color: var(--text-dark);
} 
.blog-detail-page .turn-off-the-water-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .call-a-professional {
  margin: 0;
  position: relative;
  font-weight: 600;
  font-family: inherit;
} 
.blog-detail-page .text71,
.blog-detail-page .text72 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .call-a-professional-plumber-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .inspect-the-damage {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text73,
.blog-detail-page .text74 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .inspect-the-damage-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .prevent-future-leaks {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text75,
.blog-detail-page .text76 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .prevent-future-leaks-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .text77,
.blog-detail-page .work-with-a {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .work-with-a {
  margin: 0;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text77 {
  line-height: 140%;
} 
.blog-detail-page .water-damage-repair {
  font-weight: 600;
  color: var(--primary);
} 
.blog-detail-page .text78,
.blog-detail-page .text79 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .work-with-a-professional-resto-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
} 
.blog-detail-page .conclusion {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-dark);
} 
.blog-detail-page .text80,
.blog-detail-page .text81,
.blog-detail-page .text82 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
} 
.blog-detail-page .conclusion-parent {
  align-self: stretch;
  gap: var(--gap-xs);
} 
.blog-detail-page .conclusion-parent,
.blog-detail-page .frame-parent31,
.blog-detail-page .why-do-slab-leaks-occur-mostly-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .frame-parent31 {
  align-self: stretch;
  gap: var(--gap-5xl);
  color: var(--body);
} 
.blog-detail-page .why-do-slab-leaks-occur-mostly-parent {
  flex: 1;
  gap: var(--gap-21xl);
  min-width: 75%;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--text-dark);
  font-family: var(--font-outfit);
} 
.blog-detail-page .text83 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 101px;
  flex-shrink: 0;
} 
.blog-detail-page .frame-child44 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
} 
.blog-detail-page .text84 {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  font-family: var(--font-outfit);
  color: var(--primary);
  text-align: left;
  display: inline-block;
  /* min-width: 125px; */
} 
.blog-detail-page .text-wrapper {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-7xs) var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
} 
.blog-detail-page .frame-button:hover,
.text-frame:hover,
.text-wrapper1:hover,
.text-wrapper4:hover,
.text-wrapper:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
} 
.blog-detail-page .text85 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 107px;
} 
.blog-detail-page .text-container {
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-2xs);
  white-space: nowrap;
} 
.blog-detail-page .text86 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 22px;
  font-family: var(--font-outfit);
  color: var(--primary);
  text-align: left;
} 
.blog-detail-page .text-frame {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-7xs) var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
} 
.blog-detail-page .text87 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 22px;
  font-family: var(--font-outfit);
  color: var(--primary);
  text-align: left;
} 
.blog-detail-page .frame-button {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-7xs) var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
} 
.blog-detail-page .text88 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 22px;
  font-family: var(--font-outfit);
  color: var(--primary);
  text-align: left;
  display: inline-block;
  min-width: 78px;
} 
.blog-detail-page .text-wrapper1 {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-7xs) var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
} 
.blog-detail-page .text89 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 124px;
} 
.blog-detail-page .text-wrapper2 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-2xs);
  white-space: nowrap;
} 
.blog-detail-page .text90 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 111px;
} 
.blog-detail-page .text-wrapper3 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-2xs);
  white-space: nowrap;
} 
.blog-detail-page .text91 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 22px;
  font-family: var(--font-outfit);
  color: var(--primary);
  text-align: left;
  display: inline-block;
  min-width: 93px;
} 
.blog-detail-page .text-wrapper4 {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-7xs) var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
} 
.blog-detail-page .frame-parent33,
.text-group {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
} 
.blog-detail-page .frame-parent33 {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 12px 14px;
  /* min-height: 188px; */
  flex-shrink: 0;
  font-size: var(--font-size-lg);
  color: var(--primary);
} 
.blog-detail-page .text-group {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--previewthemeforestnet-white);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-base);
} 
.blog-detail-page .text92 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  color: var(--previewthemeforestnet-black);
  display: inline-block;
  min-width: 50px;
} 
.blog-detail-page .frame-child45 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .frame-child46 {
  height: 40px;
  width: 66px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
} 
.blog-detail-page .heading8 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  font-size: 14px;
  color: #2C2E47;

} 
.blog-detail-page .heading-wrapper,
.blog-detail-page .rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-wrapper {
  flex: 1;
  flex-direction: column;
  /* padding: var(--padding-8xs) 0 0; */
  box-sizing: border-box;
  min-width: 166px;
} 
.blog-detail-page .rectangle-parent2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
} 
.blog-detail-page .frame-child47 {
  height: 54px;
  width: 96px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
} 
.blog-detail-page .heading9 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
} 
.blog-detail-page .heading-frame,
.blog-detail-page .rectangle-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 166px;
} 
.blog-detail-page .rectangle-parent3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
} 
.blog-detail-page .frame-child48 {
  height: 54px;
  width: 96px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
} 
.blog-detail-page .heading10 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
} 
.blog-detail-page .heading-wrapper1,
.blog-detail-page .rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 166px;
} 
.blog-detail-page .rectangle-parent4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
} 
.blog-detail-page .frame-child49 {
  height: 54px;
  width: 96px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
} 
.blog-detail-page .heading11 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
} 
.blog-detail-page .heading-wrapper2,
.blog-detail-page .rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 166px;
} 
.blog-detail-page .rectangle-parent5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
} 
.blog-detail-page .frame-child50 {
  height: 54px;
  width: 96px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
} 
.blog-detail-page .heading12 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
} 
.blog-detail-page .heading-wrapper3,
.blog-detail-page .rectangle-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 166px;
} 
.blog-detail-page .rectangle-parent6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
} 
.blog-detail-page .frame-child51 {
  height: 54px;
  width: 96px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
} 
.blog-detail-page .heading13 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
} 
.blog-detail-page .heading-wrapper4,
.blog-detail-page .rectangle-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-wrapper4 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 166px;
} 
.blog-detail-page .rectangle-parent7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
} 
.blog-detail-page .frame-child52,
.blog-detail-page .frame-child53 {
  position: absolute;
  top: 0;
  border-radius: var(--br-13xl);
} 
.blog-detail-page .frame-child52 {
  right: 0;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 100%;
} 
.blog-detail-page .frame-child53 {
  left: 0;
  background-color: var(--primary);
  width: 6px;
  height: 92px;
  z-index: 1;
} 
.blog-detail-page .rectangle-parent8 {
  width: 6px;
  height: 416px;
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 16px;
} 
.blog-detail-page .text-parent1 {
  align-self: stretch;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--previewthemeforestnet-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding:16px;
  position: relative;
  gap: 15.9px;
  font-size: var(--font-size-base);
  color: var(--text-dark);
} 
.blog-detail-page .text93 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 50px;
} 
.blog-detail-page .frame-child54 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--previewthemeforestnet-black);
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
} 
.blog-detail-page .frame-child55 {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--primary);
} 
.blog-detail-page .rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
} 
.blog-detail-page .heading14 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  font-size: 16px;
} 
.blog-detail-page .frame-parent35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
} 
.blog-detail-page .frame-child56 {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--primary);
} 
.blog-detail-page .rectangle-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
} 
.blog-detail-page .heading15 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
} 
.blog-detail-page .frame-parent36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
} 
.blog-detail-page .frame-parent34 {
  flex-direction: column;
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
  color: var(--text-dark);
} 
.blog-detail-page .frame-main,
.right-side-menu,
.frame-parent34,
.text-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .text-parent2 {
  align-self: stretch;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--previewthemeforestnet-white);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: 15.5px;
} 
.blog-detail-page .frame-main,
.blog-detail-page .right-side-menu {
  gap: var(--gap-5xl);
  max-width: 100%;
} 
.blog-detail-page .right-side-menu {
  width: 412px;
  flex-direction: column;
  min-width: 412px;
} 
.blog-detail-page .frame-main {
  align-self: stretch;
  background-color: var(--previewthemeforestnet-white);
  flex-direction: row;
  padding: var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--previewthemeforestnet-black);
  font-family: var(--font-outfit);
} 
.blog-detail-page .group-icon {
  height: 120px;
  width: 120px;
  position: relative;
} 
.blog-detail-page .text94 {
  position: relative;
  font-weight: 600;
    font-size: clamp(28px, 4vw, 36px);
} 
.blog-detail-page .icon-email {
  height: 44px;
  width: 44px;
  position: relative;
} 
.blog-detail-page .frame-wrapper,
.blog-detail-page .text-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
} 
.blog-detail-page .text-parent3 {
  gap: var(--gap-base);
} 
.blog-detail-page .frame-wrapper {
  align-self: stretch;
} 
.blog-detail-page .text95 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--body);
} 
.blog-detail-page .frame-parent39 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
} 
.blog-detail-page .text96,
.blog-detail-page .text97,
.blog-detail-page .text98 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .text96 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--text-dark);
} 
.blog-detail-page .text97,
.blog-detail-page .text98 {
  line-height: 140%;
} 
.blog-detail-page .about3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
  color: var(--body);
} 
.blog-detail-page .blog-detail-page-inner,
.blog-detail-page .frame-parent37,
.blog-detail-page .frame-parent38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
} 
.blog-detail-page .frame-parent38 {
  flex: 1;
  flex-direction: column;
  gap: 32px;
  min-width: 70%;
} 
.blog-detail-page .blog-detail-page-inner,
.blog-detail-page .frame-parent37 {
  align-self: stretch;
  box-sizing: border-box;
} 
.blog-detail-page .frame-parent37 {
  border-radius: var(--br-base);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(255, 255, 255, 0.4),
      rgba(49, 160, 91, 0.4)
    ),
    #fff;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-41xl);
  gap: var(--gap-21xl);
} 
.blog-detail-page .blog-detail-page-inner {
  background-color: var(--previewthemeforestnet-white);
  flex-direction: column;
  padding: 0 var(--padding-41xl) var(--padding-41xl);
  min-height: 497px;
  text-align: left;
  color: var(--text-dark);
} 
.blog-detail-page .frame-child57,
.blog-detail-page .related-posts {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .related-posts {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: inherit;
  position: relative;
  padding-bottom: 4px;

} 
.blog-detail-page .related-posts::before{
  content: "";
  border-bottom: 2px solid #2d2d2d;
  width: 160px;
  height: 1px;
  position: absolute;
  bottom: 0;
}
.blog-detail-page .frame-child57 {
  height: 208px;
  border-radius: var(--br-7xl) var(--br-7xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
} 
.blog-detail-page .frame-textarea,
.blog-detail-page .rectangle-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .frame-textarea {
  border: 0;
  background-color: var(--previewthemeforestnet-white);
  height: 138px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-7xl) var(--br-7xl);
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--text-dark);
} 
.blog-detail-page .rectangle-parent9 {
  flex: 1;
  min-width: 205px;
} 
.blog-detail-page .frame-child58 {
  align-self: stretch;
  height: 208px;
  position: relative;
  border-radius: var(--br-7xl) var(--br-7xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
} 
.blog-detail-page .frame-child59,
.blog-detail-page .frame-parent41,
.blog-detail-page .rectangle-parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .frame-child59 {
  border: 0;
  background-color: var(--previewthemeforestnet-white);
  height: 138px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-7xl) var(--br-7xl);
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--text-dark);
} 
.blog-detail-page .frame-parent41,
.blog-detail-page .rectangle-parent10 {
  flex: 1;
  min-width: 205px;
} 
.blog-detail-page .frame-parent41 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  min-width: 422px;
  max-width: 100%;
} 
.blog-detail-page .frame-child60 {
  align-self: stretch;
  height: 208px;
  position: relative;
  border-radius: var(--br-7xl) var(--br-7xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
} 
.blog-detail-page .frame-child61,
.blog-detail-page .rectangle-parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .frame-child61 {
  border: 0;
  background-color: var(--previewthemeforestnet-white);
  height: 138px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-7xl) var(--br-7xl);
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--text-dark);
} 
.blog-detail-page .rectangle-parent11 {
  flex: 1;
  min-width: 205px;
} 
.blog-detail-page .frame-child62,
.blog-detail-page .heading16 {
  align-self: stretch;
  position: relative;
} 
.blog-detail-page .frame-child62 {
  height: 208px;
  border-radius: var(--br-7xl) var(--br-7xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
} 
.blog-detail-page .heading16 {
  line-height: 26px;
} 
.blog-detail-page .frame-parent42,
.blog-detail-page .heading-wrapper5,
.blog-detail-page .rectangle-parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .heading-wrapper5 {
  align-self: stretch;
  height: 138px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-7xl) var(--br-7xl);
  background-color: var(--previewthemeforestnet-white);
  padding: var(--padding-xl);
  box-sizing: border-box;
} 
.blog-detail-page .frame-parent42,
.blog-detail-page .rectangle-parent12 {
  flex: 1;
  min-width: 205px;
} 
.blog-detail-page .frame-parent42 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  min-width: 422px;
  max-width: 100%;
} 
.blog-detail-page .frame-parent40,
.blog-detail-page .related-posts-parent {
  align-self: stretch;
  display: flex;
  justify-content: center;
  max-width: 100%;
} 
.blog-detail-page .frame-parent40 {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-dark);
} 
.blog-detail-page .related-posts-parent {
  background-color: var(--previewthemeforestnet-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  color: var(--heading);
} 
.blog-detail-page .logo-ez-pluming-usa3 {
  height: 74px;
  width: 74px;
  position: relative;
  object-fit: cover;
} 
.blog-detail-page .quick-links3 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 600;
} 
.blog-detail-page .conseur-adcing63,
.blog-detail-page .conseur-adcing64,
.blog-detail-page .conseur-adcing65,
.blog-detail-page .conseur-adcing66,
.blog-detail-page .conseur-adcing67,
.blog-detail-page .conseur-adcing68,
.blog-detail-page .conseur-adcing69 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 94px;
} 
.blog-detail-page .conseur-adcing-parent4,
.blog-detail-page .quick-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .conseur-adcing-parent4 {
  align-self: stretch;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
} 
.blog-detail-page .quick-links-container {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 72px;
} 
.blog-detail-page .about4 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 600;
} 
.blog-detail-page .conseur-adcing70,
.blog-detail-page .conseur-adcing71,
.blog-detail-page .conseur-adcing72,
.blog-detail-page .conseur-adcing73,
.blog-detail-page .conseur-adcing74,
.blog-detail-page .conseur-adcing75,
.blog-detail-page .conseur-adcing76 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 96px;
} 
.blog-detail-page .about-container,
.blog-detail-page .conseur-adcing-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .conseur-adcing-parent5 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
} 
.blog-detail-page .about-container {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 72px;
} 
.blog-detail-page .services6 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 600;
} 
.blog-detail-page .conseur-adcing77,
.blog-detail-page .conseur-adcing78,
.blog-detail-page .conseur-adcing79,
.blog-detail-page .conseur-adcing80,
.blog-detail-page .conseur-adcing81,
.blog-detail-page .conseur-adcing82,
.blog-detail-page .conseur-adcing83 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 96px;
} 
.blog-detail-page .conseur-adcing-parent6,
.blog-detail-page .frame-parent44,
.blog-detail-page .services-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .conseur-adcing-parent6 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
} 
.blog-detail-page .frame-parent44,
.blog-detail-page .services-container {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 72px;
} 
.blog-detail-page .frame-parent44 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-61xl);
  min-width: 288px;
  max-width: 100%;
} 
.blog-detail-page .logo-ez-pluming-usa-container {
  width: 672px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-131xl);
  max-width: 100%;
} 
.blog-detail-page .info3 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
} 
.blog-detail-page .email7,
.blog-detail-page .info3 {
  font-weight: 600;
} 
.blog-detail-page .email-salesezplumbingusaco3 {
  position: relative;
  letter-spacing: -0.08px;
  line-height: 20px;
} 
.blog-detail-page .noun-star-6828702-1-icon3,
.noun-star-6828702-2-icon3,
.noun-star-6828702-3-icon3,
.noun-star-6828702-4-icon3,
.noun-star-6828702-5-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
} 
.blog-detail-page .noun-star-6828702-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
} 
.blog-detail-page .see-our-reviews3 {
  flex: 1;
  position: relative;
  line-height: 20px;
} 
.blog-detail-page .see-our-reviews-on-yelp-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
} 
.blog-detail-page .facebook-icon3,
.blog-detail-page .instagram-icon3,
.blog-detail-page .pintrest-icon3,
.blog-detail-page .twitter-icon3 {
  height: 37.7px;
  width: 38.2px;
  position: relative;
  min-height: 38px;
} 
.blog-detail-page .facebook-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs-7);
} 
.blog-detail-page .email-salesezplumbingusaco-parent,
.blog-detail-page .info-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 
.blog-detail-page .email-salesezplumbingusaco-parent {
  align-self: stretch;
  gap: var(--gap-6xs);
  font-size: var(--font-size-sm);
} 
.blog-detail-page .info-parent {
  width: 210px;
  gap: var(--gap-11xl);
} 
.blog-detail-page .blog-detail-page-child,
.blog-detail-page .frame-parent43 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
} 
.blog-detail-page .frame-parent43 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
} 
.blog-detail-page .blog-detail-page-child {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  justify-content: flex-start;
  padding: var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--previewthemeforestnet-black);
  font-family: var(--font-outfit);
} 
.blog-detail-page .v-ez-plumbing-usa3 {
  font-weight: 500;
} 
.blog-detail-page .ais-technolabs-pvt3 {
  font-weight: 500;
  font-family: var(--font-outfit);
} 
.blog-detail-page .v-ez-plumbing-usa-container3 {
  position: relative;
  letter-spacing: -0.04px;
  line-height: 17px;
} 
.blog-detail-page .v-ez-plumbing-usa-all-rights-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
} 
.blog-detail-page .image-52-icon3 {
  height: 24px;
  width: 121px;
  position: relative;
  object-fit: cover;
} 
.blog-detail-page .blog-detail-page,
.blog-detail-page .frame-parent45 {
  display: flex;
  align-items: flex-start;
} 
.blog-detail-page .frame-parent45 {
  align-self: stretch;
  background-color: var(--previewthemeforestnet-black);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-41xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--previewthemeforestnet-white);
  font-family: var(--font-poppins);
} 
.blog-detail-page .blog-detail-page {
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--previewthemeforestnet-black);
  font-family: var(--font-outfit);
} 
.signs-of-a-slab-leak-parent a{
  transition: all 0.3s ease-in-out;
    color: #3bb44d !important;
    font-weight: 500 ;
    text-decoration: none !important;
}
.signs-of-a-slab-leak-parent a:hover{
  color: #0056b3 !important;
}
/*custom css*/
.blog-detail-page .recent-posts {
  max-height: 404px;
  overflow-x: overlay;
  display: grid;
  gap: 16px;
  padding-right: 5px;
  width: 100%;
} 

.blog-detail-page .recent-posts::-webkit-scrollbar {
  background: #3BB44D;
  width: 4px;
  border-radius: 16px;
}

/* Track */
.blog-detail-page .recent-posts::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.blog-detail-page .recent-posts::-webkit-scrollbar-thumb {
  background: #3BB44D;
  width: 4px;
}

/* Handle on hover */
.blog-detail-page .recent-posts::-webkit-scrollbar-thumb:hover {
  background: #3BB44D;
}
.blog-detail-page .recent-posts {
  box-shadow: none;
  padding-left: 5px;
}
.blog-detail-page .categorys-col,
.blog-detail-page .frame-parent34{
  /* max-height: 400px; */
  overflow-x: overlay;
  padding-right: 2px;
  width: 100%;
} 
.frame-parent34::-webkit-scrollbar {
  background: #3BB44D;
  width: 4px;
  border-radius: 16px;
}

/* Track */
.frame-parent34::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.frame-parent34::-webkit-scrollbar-thumb {
  background: #3BB44D;
  width: 4px;
}

/* Handle on hover */
.frame-parent34::-webkit-scrollbar-thumb:hover {
  background: #3BB44D;
}

.blog-detail-page .related-posts-parent .slick-slide > div {
  margin: 0 10px 5px ;
}
.blog-detail-page  .related-posts-parent .blog-card .blog-card-img img {
  min-height: 208px;
  max-height: 208px;
} 
.blog-detail-page  .related-posts-parent .blog-card .blog-contant-title {
  text-align: left;
  overflow: unset;
  -webkit-box-orient: unset;
  height: auto;
  line-height: normal;
} 
.blog-detail-page .related-posts-parent .blog-card .blog-contant {
  padding: 20px 20px 20px;
}
.blog-detail-page  .related-posts-parent .slick-slide {
  margin-bottom: 5px;
} 
.frame-parent32{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
/*custom css*/

/**/

@media screen and (max-width: 1200px) {
  .blog-detail-page .right-side-menu {
    flex: 1;
  } 
  .blog-detail-page .frame-main {
    flex-wrap: wrap;
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .frame-parent37 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  } 
} 
 @media screen and (max-width: 1050px) {
  .blog-detail-page .service5 {
    flex-wrap: wrap;
  } 
  .blog-detail-page .abrasion,
   .blog-detail-page .call-a-professional,
   .blog-detail-page .conclusion,
   .blog-detail-page .dampness-or-moisture,
   .blog-detail-page .hot-spots-on,
   .blog-detail-page .increased-water-bill,
   .blog-detail-page .inspect-the-damage,
   .blog-detail-page .mold-or-mildew,
   .blog-detail-page .poor-construction,
   .blog-detail-page .poor-water-quality,
   .blog-detail-page .prevent-future-leaks,
   .blog-detail-page .signs-of-a,
   .blog-detail-page .soil-shifts,
   .blog-detail-page .turn-off-the,
   .blog-detail-page .water-pressure-issues,
   .blog-detail-page .what-to-do,
   .blog-detail-page .why-do-slab1,
   .blog-detail-page .why-do-slab2,
   .blog-detail-page .work-with-a {
    font-size: var(--font-size-3xl);
  } 
  .blog-detail-page .why-do-slab-leaks-occur-mostly-parent {
    gap: var(--gap-xl);
  } 
  .blog-detail-page .text83,
  .blog-detail-page .text92 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  } 
  .blog-detail-page .rectangle-parent2,
  .blog-detail-page .rectangle-parent3,
  .blog-detail-page .rectangle-parent4,
  .blog-detail-page .rectangle-parent5,
  .blog-detail-page .rectangle-parent6,
  .blog-detail-page .rectangle-parent7 {
    flex-wrap: wrap;
  } 
  .blog-detail-page .text93 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  } 
  .blog-detail-page .text94 {
    font-size: var(--font-size-3xl);
  } 
  .blog-detail-page .text-parent3 {
    flex-wrap: wrap;
  } 
  .blog-detail-page .text95,
  .blog-detail-page .text96 {
    font-size: var(--font-size-base);
  } 
  .blog-detail-page .frame-parent37 {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .related-posts {
    font-size: var(--font-size-3xl);
  } 
  .blog-detail-page .heading16 {
    font-size: var(--font-size-base);
    line-height: 21px;
  } 
  .blog-detail-page .frame-parent44 {
    gap: var(--gap-21xl);
    flex-wrap: wrap;
  } 
  .blog-detail-page .logo-ez-pluming-usa-container {
    gap: var(--gap-18xl);
  } 
  .blog-detail-page .blog-detail-page-child {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  } 
 } 
 @media screen and (max-width: 750px) {
  .navigation3 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .breadcrumbs5 {
    flex-wrap: wrap;
  } 
  .blog-detail-page .breadcrumbs4 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .why-do-slab-leaks-occur-mostly-parent {
    min-width: 100%;
  } 
  .blog-detail-page .text-parent1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .right-side-menu {
    min-width: 100%;
  } 
  .blog-detail-page .frame-main {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .frame-parent38 {
    gap: var(--gap-base);
  } 
  .blog-detail-page .frame-parent37 {
    gap: var(--gap-xl);
  } 
  .blog-detail-page .blog-detail-page-inner {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .frame-parent41,
  .frame-parent42 {
    flex-wrap: wrap;
    min-width: 100%;
  } 
  .blog-detail-page .related-posts-parent {
    gap: var(--gap-xl);
    padding: var(--padding-20xl) var(--padding-11xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .logo-ez-pluming-usa-container {
    gap: var(--gap-56xl);
    flex-wrap: wrap;
  } 
  .blog-detail-page .blog-detail-page-child,
  .frame-parent45 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .img-why-do-slab-leaks-occur-mo{
    height: auto;
  } 
} 
@media screen and (max-width: 585px) {
  .blog-detail-page-inner .frame-parent37 {
    justify-content: center;
  } 
  .blog-detail-page .blog-detail-page-inner .frame-parent38{
    text-align: center;
  } 
  .blog-detail-page .blog-detail-page-inner .frame-wrapper {
    align-self:center;
  } 
 } 
 @media screen and (max-width: 450px) {
  .blog-detail-page .image-604-parent {
    flex-wrap: wrap;
  } 
  .blog-detail-page .why-do-slab1 {
    /* font-size: var(--font-size-10xl); */
    font-size: var(--font-size-3xl);
  } 
  .blog-detail-page .img-why-do-slab-leaks-occur-mo{
    height: auto;
  } 
  .blog-detail-page .frame-main {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  } 
  .blog-detail-page .text94 {
    font-size: var(--font-size-10xl);
  } 
  .blog-detail-page .frame-parent38 {
    min-width: 100%;
  } 
  .blog-detail-page .related-posts {
    font-size: var(--font-size-10xl);
  } 
  .blog-detail-page .frame-parent43,
  .blog-detail-page .frame-parent45 {
    flex-wrap: wrap;
  } 
} 
