.MuiPaper-root {
    font-family: 'Outfit', sans-serif !important;
}

.tableCheckbox {
    background-color: red;
}


.SearchField {
    display: flex;
    gap: 30px;
    width: 100%;
}

.BtnBlue {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 10px 30px;
    background: var(--primary-2);
    border-radius: 5px;
    font-family: outfit;
}

.BtnBlue:hover{
    color: #fff;
}

.designOption {
    padding: 13px !important;
    border-radius: 5px;
    border-color: var(--border-color-sky-blue-pastel);
}