.FormControl {
    width: 100%;
    border: 1px solid var(--border-color-sky-blue-pastel);
    border-radius: 8px;
    padding-left: 42px;
    position: relative;
    padding: 9px 15px;
    font-size: 16px;
    position: relative;
}

.FormControl:focus-visible {
    outline: none;
}

.FormControl[type="search"]::before {
    position: absolute;
    content: url('/images/search-icon.svg');
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    display: inline-block;
    z-index: 2;
}




.BtnBlue {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 10px 30px;
    background: var(--primary-2);
    border-radius: 5px;
    font-family: outfit;
}

.SearchField {
    display: flex;
    gap: 30px;
    width: 100%;
}


.SearchInput {
    width: 100%;
}